[Unit]
Description=Wake up the monitor and reset RGB. Also handle sunrise routine for bulbs.

[Service]
Type=simple
ExecStart=/home/benjamin/256/morning.sh
EnvironmentFile=/home/benjamin/256/.env
