[Unit]
Description=Put the monitor to sleep and turn off RGB. Also handle bedtime routine for smart bulbs.

[Service]
Type=oneshot
ExecStart=/home/benjamin/256/bedtime-mode.sh
EnvironmentFile=/home/benjamin/256/.env
