[Unit]
Description=Run wakeup script at 7:30AM (wake up at 8AM)

[Timer]
OnCalendar=*-*-* 07:30:00
Persistent=true
AccuracySec=1m

[Install]
WantedBy=timers.target
