[Unit]
Description=Wake up the monitor and reset RGB. Also handle sunrise routine for bulbs.

[Service]
Type=oneshot
ExecStart=/home/benjamin/256/morning-wakeup.sh
EnvironmentFile=/home/benjamin/256/.env
